*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #DCDCFF;
}

header
{
    width: 100%;
    height: 68px;
    background: #4F008F;
}

footer
{
    width: 100%;
    height: 68px;
    background: #4F008F;
}

.git
{
    margin: auto;
    text-align: center;
}

.git > a > img
{
    height: 48px;
    margin-top: 11px;
}

.page
{
    max-width: 800px;
    height: 210px;
    margin: auto;
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 8px 8px 16px -10px #000000;
}

.content
{
    max-width: 800px;
    height: 210px;
    margin: auto;
    margin-top: 40px;
    margin-block-end: 40px;
    background: #FFFFFF;
    box-shadow: 8px 8px 16px -10px #000000;
}

h1
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    color: #0858C4;
    height: 40px;
}

h2
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    color: #4F008F;
    height: 40px;
}

p
{
    text-align: center;
    margin: auto;
    font-family: monospace;
    font-size: 16pt;
    width: 90%;
}