*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #DCDCFF;
}

.page
{
    max-width: 800px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 8px 8px 16px -10px #000000;
}

h1
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    color: #0858C4;
    height: 40px;
}

p
{
    text-align: center;
    margin: auto;
    font-family: monospace;
    font-size: 16pt;
    padding-top: 10px;
    width: 800px;
}